
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.carousel-item img{
    margin-top:56px;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    height:44vh;
}
