
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.carousel-item img{
    margin-top:60px;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
    height:44vh;
}
a{
    text-decoration: none;
}
.links-shop{
    margin-right: 30px;
}
.link-items{
    margin-right: 20px;
    font-size: 17px;
}
.brand-shop{
    margin-left: 120px;
    font-size: 23px;
}
