{% extends 'shop/layouts/main.html' %}
{% block title %}
   ShopKart | Collections
{% endblock title %}
{% block content %}
  <section class="py-5 text-center container"  style="margin-top:70px;">
    <div class="row py-lg-5" >
      <div class="col-lg-6 col-md-8 mx-auto py-3" style="background-color:rgba(180, 177, 177, 0.09);border-radius:10px;">
        <h1 class="fw-light">Bestsellers</h1>
        <p class="lead text-muted">Our most popular products based on sales. Updated hourly.</p>
        <p>
          <a href="{% url 'login' %}" class="btn  my-3 mx-2" style="background-color:#000;color:white;">Already User</a>
          <a href="{% url 'register' %}" class="btn btn-secondary my-3">Register</a>
        </p>
      </div>
    </div>
  </section>
  <section class="bg-light py-4 my-1" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="text-white bg-dark px-3 py-2 d-inline-block" style="margin-top: 30px;border-radius:10px;">Categories <i class="fas fa-cart-shopping"></i></h4>
          <hr style="border-color:#404041;">
          
        </div>
        {% for item in catagory %}
        <div class="col-md-4 col-lg-3">
          <div class="card my-3" style="border: none;box-shadow: 2px 3px 4px 2px  #807f7f3b;">
            <img src="{{item.image.url}}"  class="card-image-top d-block mx-auto" alt="Categories" style="width:170px;height:170px;margin-top: 3%;">
            <hr style="margin:4px 0px 0px 0px;border-color: #404041;">
            <a href="{% url 'collections' item.name %}">
            <div class="card-body">
              <h5 class="card-title text-primary">{{ item.name }}</h5>
              <p class="card-text" style="color: black;">{{ item.description }}</p>
    
            </div>
          </a>
          </div>
        </div>
        {% endfor %}

      </div>
      </div>
  </section>

{% endblock content %}