{% extends 'shop/layouts/main.html' %}
{% block title %}
ShopKart | Online shopping
{% endblock title %}        
 {% block content %}
 {% include 'shop/inc/slider.html' %}
 <div class="container " style="margin-top: 50px;">
   <div class="row">
    <div class="col-12 ">
      {% include 'shop/inc/messages.html' %}
      <h4 class="mb-3">Latest Offers</h4>
      <hr style="border-color:#404141;"></div>
    {% for a in prod %}
        <div class="col-md-4 col-lg-3">
            <div class="card  my-3 trendy" style="border: none;box-shadow: 2px 3px 4px 2px  #807f7f3b;">
            <div class="hot">Hot</div>
              <img src="{{ a.product_image.url }}" class="card-image-top mx-auto d-block" alt="categories logo" style="width:170px;height:170px;margin-top: 3%;">
                <hr  style="border-color: #404141;margin:2%  0 0 0;">
                <a href="{% url 'product_details' a.category a.name %}" style="color:initial;">
                <div class="card-body">
                    <h5 class="card-title text-primary" style="padding-bottom:6px;">{{a.name}}</h5>
                    <p class="card-text" >
                        <span class="float-start old_price"><s>Rs.{{a.old_price |stringformat:'d'}} </s></span>
                        <span class="float-end new_price">Rs.{{a.new_price |stringformat:'d'}}</span>
                    </p>
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
   </div>
 </div>
 {% endblock content %}   

