{% extends 'shop/layouts/main.html' %}
{% block title %}
ShopKart | {{category_name}}
{% endblock title %}        
 {% block content %}
 <section class="bg-light py-4 my-5" >
 <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="fw-dark" style="margin-top: 30px;">{{category_name}} Products</h4>
            <hr class="mb-3" style="border-color: #b8bfc2;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'collections' %}">Collections</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{category_name}}</li>
                </ol>
              </nav>
              
        </div>
        {% for a in prod %}
        <div class="col-md-4 col-lg-3">
            <div class="card  my-3 trendy" style="border: none;box-shadow: 2px 3px 4px 2px  #807f7f3b;">
               {% if a.trending %}
               <div class="hot">Hot</div>
               {% endif %}
                <img src="{{ a.product_image.url }}" class="card-image-top mx-auto d-block" alt="categories logo" style="width:170px;height:170px;margin-top: 3%;">
                <hr  style="border-color: #404141;margin:2%  0 0 0;">
                <a href="{% url 'product_details' category_name a.name %}" style="color:initial;">
                <div class="card-body">
                    <h5 class="card-title text-primary" style="padding-bottom:6px;">{{a.name}}</h5>
                    <p class="card-text" >
                        <span class="float-start old_price"><s>₹{{a.old_price |stringformat:'d'}} </s></span>
                        <span class="float-end new_price">₹{{a.new_price |stringformat:'d'}}</span>
                    </p>
                </div>
            </a>
            </div>
        </div>
        {% endfor %}
    </div>
 </div>
 </section>
 {% endblock content %}   

