{% extends 'shop/layouts/main.html' %}
{% load static %}
{% block title %}
ShopKart | {{prod}}
{% endblock title %}        
 {% block content %}
 <section class="bg-light py-4 my-5" >
 <div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="text-white bg-dark px-3 py-2 d-inline-block" style="margin-top: 30px;border-radius:10px;">{{prod}} </h4>
            <hr class="mb-3" style="border-color: #b8bfc2;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'collections' prod.category %}">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{prod}}</li>
                </ol>
              </nav>
             
        </div>
        <div class="col-md-4 col-lg-3 my-3">
            <div class="card trendy" style="padding-bottom:10px;border:none;border-bottom:1px solid rgba(128, 128, 128, 0.856);">
                {% if prod.trending %}
                <div class="hot">Hot</div>
                {% endif %}
                <img src="{{ prod.product_image.url }}" class="card-image-top mx-auto d-block" alt="{{prod}} logo" style="width:200px;height:220px;margin-top: 3%;">
                <!-- <hr style="border-color: #161616;"> -->
            </div>
         </div>
          <div class="col-lg-9 col-sm-12 my-3">
            <h5 class="text-success">{{prod | upper}}</h5>
            <p class="text-normal">{{prod.vendor | upper}}</p>
            <p class="text-normal" style="text-align: justify;">{{prod.description}}</p>
            <h6 class="my-2 text-danger d-inline"><span class=" px-2 py-2" style="border-radius: 5px;font-size: 18px;"> <s>₹{{prod.old_price | stringformat:'d'}}</s></span></h6>
            <h5 class="my-2 text-secondary d-inline"><span style="background-color: green;padding: 10px;border-radius: 5px;" class="  text-center text-white px-1 py-1 mx-1" style="font-size: 21px;"> ₹{{prod.new_price | stringformat:'d'}}</span></h5>
            {% if prod.discount > 0 %}
            <span class=" bg-dark p-1 text-white" style="border-radius:2px;margin-left:10px;">{{prod.discount |stringformat:'d'}}% Off</span>
            {% endif %}
            <div class="my-3">
            {% if prod.quantity > 0 %}
            <input type="hidden" value="{{prod.id}}" id="pid">
            
            <p>
                <div class="input-group" style="width:150px;">
                    <button id="btnminus" class="input-group-text bg-success text-light "><i class="fa fa-minus"></i></button>
                    <input readonly type="text" id="textqty" name="qty" value="1" class="form-control text-center">
                    <button id="btnplus" class="input-group-text bg-success text-light "><i class="fa fa-plus"></i></button>
                </div>
            </p>
            <button  class="btn btn-primary" id="openPopup"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            <button  class="btn btn-danger" id="openpopup"><i class="fa fa-heart"></i></button>
        
            {% else %}
            <button  class="btn btn-secondary" ><i class="fa fa-minus"></i> Out of Stock</button>
            <button  class="btn btn-danger"  style="cursor:no-drop;"><i class="fa fa-heart"></i></button>
            {% endif %}
        </div>
        </div>
    </div>
 </div>
 </section>
 {% include 'shop/inc/loader.html' %}
 {% include 'shop/inc/alert.html' %}
 <script>
    document.addEventListener("DOMContentLoaded",function(event){
        const btnplus = document.getElementById('btnplus');
        const btnminus = document.getElementById('btnminus');
        const textQty = document.getElementById('textqty');
        const pid = document.getElementById('pid');
        const btnCart = document.getElementById('openPopup');
        const btnFav = document.getElementById('openpopup');
        const loader =  document.getElementById('loader');
    btnplus.addEventListener("click",function(){
           let qty = parseInt(textQty.value,10);
           qty = isNaN(qty)?0:qty;
           if(qty<10)
           {
            qty++;
            textQty.value = qty;
    }

        });
        btnminus.addEventListener("click",function(){
           let qty = parseInt(textQty.value,10);
           qty = isNaN(qty)?0:qty;
           if(qty>1)
           {
            qty--;
            textQty.value = qty;
           }

        });
        btnCart.addEventListener("click",function(){
            loader.style.display = "block";
           let qty = parseInt(textQty.value,10);
           qty = isNaN(qty)?0:qty;
           if(qty > 0)
           {
          let postObject = {
           'product_qty':qty,
            'pid':pid.value,
           
          }
          console.log(postObject)
          fetch("/add_to_cart",{
          method: 'POST',
          credentials: 'same-origin',
          headers:{
              'Accept': 'application/json',
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(postObject)
        }).then(response => {
	        return response.json();
        }).then(data => {
            if(data['status']==='Product added to cart successfully..')
            {
            showPopup('Congratulations!', data['status']);
            }
            else{
                showPopup('Oops! sorry', data['status']);  
            }
        });
           }
           else{
            showPopup('Oops! sorry', data['status']);
           }
          

        });
btnFav.addEventListener("click", function() {
     loader.style.display="block";
     let postObj = { 
         'pid': pid.value
     }
    
     fetch("/fav",{
       method: 'POST',
       credentials: 'same-origin',
       headers:{
           'Accept': 'application/json',
           'X-Requested-With': 'XMLHttpRequest',
           'X-CSRFToken': '{{ csrf_token }}',
       },
       body: JSON.stringify(postObj)
     }).then(response => {
         return response.json();
     }).then(data => {
        
          if(data['status']==='Product Added to Favourite successfully..')
          {
            showPopup('Congratulations!', data['status']); 
          } 
          else{
            showPopup('Oops! sorry', data['status']);
          }   
     });
});
loader.style.display = "none";
    });

   // Function to show the popup
   function showPopup(greeting, message) {
    loader.style.display="none";
    console.log("showPopup() called:", greeting, message);
    const popup = document.getElementById('popup');
    const popupBox = document.getElementById('popupbox');
    const greet = document.getElementById('greet');
    const msg = document.getElementById('msg');
    const closePopupBtn = document.getElementById('closePopup');
    const img = document.getElementById('popImg');

    greet.innerHTML = greeting;
    msg.innerHTML = message;

    if (greeting === 'Oops! sorry') {
        img.src = "{% static 'images/wrong1.jpeg' %}";
        closePopupBtn.style.backgroundColor = "red";
    } else {
        img.src = "{% static 'images/tick.jpeg' %}";
        closePopupBtn.style.backgroundColor = "#31d109";
    }

      // Ensure the popup is displayed
      popup.style.display = "block";
    popupBox.classList.add("popup-open");
    
    // Close button event
    closePopupBtn.onclick = function() {
        console.log("Popup closed!");
        popupBox.classList.remove("popup-open");
        popup.style.display = "none";
        window.location.href = "{% url 'cart' %}";
    };

    // Close when clicking outside
    window.onclick = function(event) {
        if (event.target === popup) {
            popupBox.classList.remove('popup-open');
            popup.style.display = "none";
            window.location.href = "{% url 'cart' %}";
        }
    };
}

 </script>
 {% endblock content %}   
 
