{% extends 'shop/layouts/main.html' %}
{% load static %}
{% block title %} 
{{request.user}} profile
{% endblock title %}

{% block content %}
<div class="container mt-5 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
            <div class="profile-card border shadow text-center p-4">
                <img src="{% static "/images/user.png" %}" class="profile-img mb-3" alt="User Profile Picture">
                <h4>{{ profile.user.username }}</h4>
                
                <hr>
                <div class="text-start">
                    <p><strong>Email:</strong> {{profile.user.email}}</p>
                    <p><strong>Phone:</strong>{% if profile.contact %} {{ profile.contact }} {% else %}+123 456 7890{% endif %}</p>
                    <p><strong>Status:</strong> {% if profile.user.is_active %} Active {% else %} Logged out {% endif %}</p>
                    <p><strong>Last Active:</strong>{{ profile.user.last_login }} </p>
                    <p><strong>Address:</strong>{% if profile.address %} {{ profile.address }} {% else %}9/56, main road, trichy{% endif %}</p>
                    <p><strong>Member Since:</strong>{{profile.user.date_joined}}</p>
                </div>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary w-100  p-2 mt-3"><i class="fas fa-edit"></i>
                    Edit Profile</a>
                <a href="{% url 'logout' %}" class="btn btn-danger w-100 p-2 mt-2"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow p-3 ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg5Z_cKUQpZrl3j958sHeePpMJ-H5w00xHdw&s" class="img-fluid d-block m-auto">
                <a href="{% url 'cart' %}" class="btn btn-primary  w-50 d-block m-auto"><i class="fa fa-cart-shopping"></i> View Cart</a>
            </div>
            <div class="card shadow p-3 mt-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAxdgr8z--M-WmRF9wq96W1PQEbGI_zXeMxA&s" class="img-fluid d-block m-auto">
                <a href="{% url 'favview' %}" class="btn btn-dark  w-50 d-block m-auto text-white"><i class="fa fa-heart"></i> View whishlist</a>
            </div>
            <div class="card shadow p-3 mt-3 ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp6RuXXCfWoeZ70DxJeuviCrMQMD2rySOnGw&s" class="img-fluid d-block m-auto">
                <a href="{% url 'orders' %}" class="btn btn-success  w-50 d-block m-auto"><i class="fa fa-box"></i> View Orders</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa fa-edit"></i> Edit Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="username" class="col-form-label">username:</label>
                  <input type="text" class="form-control shadow-none border-none" id="username">
                </div>
                <div class="mb-3">
                  <label for="email" class="col-form-label">Email:</label>
                  <input class="form-control shadow-none border-none" id="email" type="email">
                </div>
                <div class="mb-3">
                    <label for="contact" class="col-form-label">Contact:</label>
                    <input class="form-control shadow-none border-none" id="contact" type="tel">
                  </div>
                  <div class="mb-3">
                    <label for="message" class="col-form-label">Address:</label>
                    <textarea class="form-control shadow-none border-none" id="message" type="text"></textarea>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="editProfile">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% include 'shop/inc/alert.html' %}
{% include 'shop/inc/loader.html' %}

<script>
    document.addEventListener("DOMContentLoaded",function(event){
        const btnEdit = document.getElementById("editProfile");
        const loader = document.getElementById("loader");
        btnEdit.addEventListener("click",function(event){
            loader.style.display = "block";
            const name = document.getElementById("username").value;
            const email = document.getElementById("email").value;
            const contact = document.getElementById("contact").value;
            const address = document.getElementById("message").value;
            console.log(name,email,contact,address)
            if(!name || !email || !contact || !address )
            {
              showPopup("Oops! sorry", "Fill all the fields");
                  return;
            }
            fetch("{% url 'edit_profile' profile.user.id %}", {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'name':name,
                    'mail':email,
                    'contact':contact,
                    'address':address
                })
            })
            .then(response => response.json())
            .then(data => {
                loader.style.display = "none";
                showPopup(data['info'], data['status']);
            })
            .catch(error => {
                console.error("Error:", error);
                loader.style.display = "none";
                showPopup("Oops! sorry", "Something went wrong. Please try again.");
            });

        });
    });

    // Function to show the popup
function showPopup(greeting, message) {
    const popup = document.getElementById('popup');
    const greet = document.getElementById('greet');
    const msg = document.getElementById('msg');
    const closePopupBtn = document.getElementById('closePopup');
    const img = document.getElementById('popImg')
    greet.innerHTML = greeting;
    msg.innerHTML = message;
    if (greeting === 'Oops! sorry') {
     img.src = "{% static 'images/wrong1.jpeg' %}";
     closePopupBtn.style.backgroundColor = "red";
  } else {
     img.src = "{% static 'images/tick.jpeg' %}";
     closePopupBtn.style.backgroundColor = "#31d109";
  }
    //close the loader
    // Show the popup
    loader.style.display = "none";
    popup.style.display = "block";
    
  
    // Handle closing the popup
    closePopupBtn.onclick = function() {
        popup.style.display = "none";
        if(greeting !== 'Oops! sorry')
        {
          window.location.href = "{% url 'profile' %}";
        }
        
        
    };
  
    // Close popup if user clicks outside the popup content
    window.onclick = function(event) {
        if (event.target === popup) {
            popup.style.display = "none";
            if(greeting !== 'Oops! sorry')
        {
          window.location.href = "{% url 'profile' %}";
        }
        }
    };
  }
</script>
{% endblock content %}